@model EmployeeManagementPortal.MVC.ViewModels.WorkItemViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <div class="row">
        <br />
        <div class="col-md-6"></div>
        <div class="col-md-6 footer-buttons">
            <a asp-action="Index" class="btn btn-outline-primary float-right">Back to List</a><span>&nbsp; &nbsp;</span>
            <input type="submit" value="Edit" style="margin-right: 5px;" class="btn btn-primary float-right" />
            @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })*@
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
    </dl>
</div>