@model EmployeeManagementPortal.MVC.ViewModels.EmployeeTasksViewModel

@{
    ViewData["Title"] = "Details";
} 
<div>
    <h1>Employee Task</h1>
    <h4>Employee Task Details</h4>
    <hr />
    <div class="row">
        <br />
        <div class="col-md-6"></div>
        <div class="col-md-6 footer-buttons">
            <a asp-action="Index" class="btn btn-outline-primary float-right">Back to List</a><span>&nbsp; &nbsp;</span>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })
            <input type="submit" value="Edit" style="margin-right: 5px;" class="btn btn-primary float-right" />
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeTaskId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeTaskId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNoOfHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalNoOfHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PayPerTask)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PayPerTask)
        </dd>
    </dl>
</div>

